/* サイトセッティング */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* 刹那の見切り */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 背景画像を設定 */
#background {
    height: 100vh; /* ビューポートの高さに合わせる */
    background-size: 70vh;
    background-position: top; /* 中央に画像を配置 */
    background-repeat: repeat-x; /* 繰り返しなし */
    height : 100vh;
    image-rendering: pixelated; /* ドット絵をぼやけずに表示 */
}

/* 地面 */
#ground {
    height: 100vh;
    background-size: 43vh;
    background-position: bottom;
    background-repeat: repeat-x;
    image-rendering: pixelated; /* ドット絵をぼやけずに表示 */
}

/* キーボード */
.keyboard-container {
    position: absolute; /* 変更 */
    bottom: 10; /* 画面下部に配置 */
    left: 50%; /* 横方向中央揃え */
    transform: translateX(-50%); /* 中央揃えのために位置を調整 */
    width: 50%; /* コンテナの幅を指定 */
    height: 41vh; /* コンテナの高さを指定 */
}

.keyboard-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 画像をコンテナに合わせる */
    height: 100%;
}

/* ボタン */
.button-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 判定用ボタンのスタイル */
button {
    border:none;
    background:transparent; 
    cursor:pointer;
    padding:0;
    user-select: none; /* テキスト選択を無効にする */
}

/* ボタンの画像 */
#playButtonImage {
    width: 200px; 
    height: auto;;
    display: block;
    image-rendering: pixelated; /* ドット絵をぼやけずに表示 */
}
#quitButtonImage {
    width: 200px; 
    height: auto;
    display: block;
    image-rendering: pixelated; /* ドット絵をぼやけずに表示 */
}