/*------------------------------------------------
    プロフィール画面のcss
------------------------------------------------*/

/* 設定の追加説明（ツールチップ）*/
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: gray;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* ツールチップの位置 */
    left: 50%;
    margin-left: -125px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ツールチップのリッチテキスト */
.tooltip .tooltiptext strong {
    font-weight: bold; /* 太字 */
}
.tooltip .tooltiptext em {
    font-style: italic; /* 斜体 */
}
.tooltip .tooltiptext .attention {
    color: orange; /* 警告色 */
}
.tooltip .tooltiptext .point {
    color: cyan; /* 注目色 */
}

/* タイマーのスタイル */
#level-frame {
    margin: 0;
    width: 80%;
    background-color: rgba(10, 0, 50, 0.6);
    display: flex;
    padding: 3px 3px;
}
#level-bar {
    height: 3px;
    background-color: rgb(0, 255, 255);
    transition: 300ms
}