/*------------------------------------------------
    マイページ画面のcss
------------------------------------------------*/
.mypage {
    display: flex;
    flex-direction: colum;
}

/* チャートの表示 */
.charts {
    width: 90%;
    height: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 5%;
}

.charts canvas {
    width: 100px;
    height: 100px;
}

.charts-container {
    width: 50%;
}

.missHighlight-container {
    width: 50%;
}

/* キーボードの表示 */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 60px;
}

.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.key {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    line-height: 40px;
    transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
    /* アニメーションを追加 */
}

.key.highlight {
    background-color: #d1e7ff;
    border-color: #007bff;
    transform: scale(1.1);
    /* Add scale animation */
}

.key:hover {
    background-color: rgb(248, 230, 213);
    border-color: rgb(255, 159, 64);
    transform: scale(1.1);
}

.key .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* ツールチップをキーの上に表示 */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    /*position: relative;*/
    /*display: inline-block;*/
}

.key .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.key:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tab {
    width: 63px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.backspace {
    width: 85px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.caps {
    width: 70px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.enter {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.shift {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.rightShift {
    width: 117px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.space {
    width: 240px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

/* ページ全体にかかわるスタイル */
h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}
.missHighlightTitle {
    margin-bottom: 10px;
}

/* カルーセルのスタイル */
.carousel {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 80%; /* アイテムの幅を少し小さくする */
    margin: 0 10%; /* アイテムの左右に余白を追加 */
    box-sizing: border-box;
    padding: 10px; /* アイテム内にパディングを追加 */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel-control {
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: auto;
}

#prevBtn {
    transform: scale(0.3);
}

#nextBtn {
    transform: rotate(180deg) scale(0.3);
}

/* インジケーターのスタイル */
.carousel-indicators {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.indicator {
    width: 7px;
    height: 7px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.indicator.active {
    background-color: darkgray;
}

/* スライダーのスタイル */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#displayCountSlider {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    background-color: #ccc;
}

/* スライダーのつまみのスタイル */
#displayCountSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #2196F3; /* つまみの色 */
    cursor: pointer;
    border-radius: 50%; /* つまみを丸くする */
}

#displayCountSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #2196F3; /* つまみの色 */
    cursor: pointer;
    border-radius: 50%; /* つまみを丸くする */
}