/* ページ全体にかかわるスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* ボタン入力 */
.startButton {
    background-color: rgb(59,130,246);
    color: white;
    border: none;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
}

.startButton:hover {
    background-color: rgb(37,99,235);
}

/* キーボードのスタイル */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.key {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, border-color 0.2s, transform 0.05s; /* アニメーションを追加 */
}
.key.highlight {
    background-color: #d1e7ff;
    border-color: #007bff;
    transform: scale(1.1); /* Add scale animation */
}
.tab {
    width: 63px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.backspace {
    width: 85px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.caps {
    width: 70px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.enter {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.shift {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.rightShift {
    width: 117px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.space {
    width: 240px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}


/* ゲーム画面のスタイル */
.gameArea {
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
    z-index: 1;
}

.ranking {
    position: fixed;
    margin-left: 3%;
    margin-top: 40vh;
    text-align: left;
}

.wordArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease;
}

.missDisplay {
    position: absolute;
    width: 50%;
    height: 33%;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    z-index: -1;
}

#japaneseWord {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
#kanaWord {
    font-size: 18px;
    margin: 10px;
}
#romajiWord {
    font-size: 18px;
    margin: 10px;
}
#highlightedText {
    color: blue;
    margin: 10px 0px;
}
#nextWord {
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
    margin: 5px;
}

/* タイマーのスタイル */
#time-frame {
    margin: 0 auto;
    width: 60%;
    background-color: #ccc;
    display: flex;
    padding: 3px 3px;
    border-radius: 16px;
}
#time-bar {
    height: 10px;
    background: linear-gradient(to right, rgb(171, 130, 246), rgb(59,130,246)); /* グラデーションを設定 */
    transition: 300ms;
    border-radius: 10px;
}

/* ランキングのスタイル */
#scoreChart {
    margin-top: 30px;
}
