/* ページ全体にかかわるスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* ボタン入力 */
.startButton {
    background-color: rgb(59,130,246);
    color: white;
    border: none;
    padding: 8px 30px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
}

.startButton:hover {
    background-color: rgb(37,99,235);
}


/* ゲーム画面のスタイル */
.gameArea {
    position: fixed;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
    z-index: 1;
}

.ranking {
    position: fixed;
    margin-left: 3%;
    margin-top: 40vh;
    text-align: left;
}

.wordArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.5s ease;
}

.missDisplay {
    position: absolute;
    width: 50%;
    height: 33%;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    z-index: -1;
}

#japaneseWord {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
#kanaWord {
    font-size: 18px;
    margin: 10px;
}
#romajiWord {
    font-size: 18px;
    margin: 10px;
}
#highlightedText {
    color: blue;
    margin: 10px 0px;
}
#nextWord {
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
    margin: 5px;
}

/* タイマーのスタイル */
#time-frame {
    margin: 0 auto;
    width: 60%;
    background-color: #ccc;
    display: flex;
    padding: 3px 3px;
    border-radius: 16px;
}
#time-bar {
    height: 10px;
    background: linear-gradient(to right, rgb(171, 130, 246), rgb(59,130,246)); /* グラデーションを設定 */
    transition: 300ms;
    border-radius: 10px;
}

/* ランキングのスタイル */
#scoreChart {
    margin-top: 30px;
}

/* モーダルウィンドウのスタイル */
.modal {
    display: none; /* デフォルトでは非表示 */
    position: fixed; /* 固定位置 */
    z-index: 1; /* 最前面に表示 */
    left: 0;
    top: 0;
    width: 100%; /* 全幅 */
    height: 100%; /* 全高 */
    overflow: auto; /* スクロール可能 */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.4); /* 背景色の透明度 */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 上下のマージン */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 幅 */
    border-radius: 16px;
    transform: translateY(-50px);
    transition: transform 0.5s ease;
}

.modal-content.show {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}