/* ページ全体にかかわるスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* ボタン入力 */
input[type="submit"], #startButton {
    padding: 10px 20px;
}

/* キーボードのスタイル */
.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.key {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, border-color 0.2s, transform 0.05s; /* アニメーションを追加 */
}
.key.highlight {
    background-color: #d1e7ff;
    border-color: #007bff;
    transform: scale(1.1); /* Add scale animation */
}
.tab {
    width: 63px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.backspace {
    width: 85px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.caps {
    width: 70px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.enter {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.shift {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.rightShift {
    width: 117px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.space {
    width: 240px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}


/* ゲーム画面のスタイル */
#gameArea {
    margin-top: 50px;
}
#japaneseWord {
    font-size: 24px;
    font-weight: bold;
}
#nextWord {
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
}
#romajiWord {
    font-size: 18px;
}
#highlightedText {
    color: blue;
}

/* タイマーのスタイル */
#time-frame {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(10, 0, 50, 0.6);
    display: flex;
    padding: 3px 3px;
}
#time-bar {
    height: 3px;
    background-color: rgb(0, 255, 255);
    transition: 300ms
}

/* ランキングのスタイル */
#scoreChart {
    margin-top: 30px;
}