/* キーボードのスタイル */
.keyboard-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.key {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, border-color 0.2s, transform 0.05s; /* アニメーションを追加 */
}
.key.home {
    border-color: #007bff;
}
.key.highlight {
    background-color: #d1e7ff;
    border-color: #007bff;
    transform: scale(1.1); /* Add scale animation */
}
.tab {
    width: 63px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.backspace {
    width: 85px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.caps {
    width: 70px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.enter {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.shift {
    width: 102px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.rightShift {
    width: 117px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}
.space {
    width: 240px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}